@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Nunito-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/Nunito-Bold.ttf') format('truetype');
}

:root {
    --primary-color: #c1c7d2;
    --accent-color: #ffb300;
    --bg-color: #333845;
    --bg-grey: #697286;
    --error: #fc3d3d;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: "Nunito", sans-serif;
}


body {
    min-width: 380px;
    min-height: 100vh;
    margin: 0;
    color: var(--primary-color);
    background-color: var(--bg-color);
}

*, ::after, ::before {
    box-sizing: inherit;
}

.visually-hidden {
    position: absolute;
    bottom: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
}

.not-found {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 1024px;
    height: 100vh;
    margin: 0 auto;
    padding: 0 16px;
}

.section {
    margin-bottom: 40px;
}

.button {
    font-family: inherit;
    font-size: 14px;
    line-height: 14px;
    padding: 6px 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
    border: none;
    border-radius: 8px;
    background-color: var(--accent-color);
}

.button:hover,
.button:focus {
    opacity: 0.8;
}

.button:active {
    opacity: 0.5;
}

.button[disabled],
.button[disabled]:hover,
.button[disabled]:active {
    cursor: not-allowed;
    opacity: 1;
    background-color: #444;
}

.link {
    transition: all 0.3s ease;
    text-decoration: none;
    color: var(--accent-color);
}

.link:hover,
.link:focus {
    opacity: 0.8;
}

.link:active {
    opacity: 0.5;
}

.search-form {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 32px;
    gap: 16px;
}

.search-form__input {
    flex-grow: 1;
    padding: 18px;
    color: inherit;
    border: none;
    border-bottom: 1px solid var(--primary-color);
    background-color: transparent;
}

.books-list__list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.books-list__total {
    margin-bottom: 20px;
}

.book-card {
    display: flex;
    overflow: hidden;
    margin-bottom: 16px;
    border-radius: 16px;
    background-color: #272c36;
    gap: 16px;
}

.book-card__cover {
    width: 33%;
    max-width: 256px;
}

.book-card__info {
    padding: 8px;
}

.book-card__title {
    font-weight: 600;
    font-size: 24px;
    margin: 0 0 8px;
}

.footer {
    margin-top: auto;
    padding: 16px 0;
    text-align: center;
    border-top: 1px solid var(--bg-grey);
}

.error {
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    padding: 16px;
    text-align: center;
}

.error__title {
    color: var(--error);
}
